/* AEM visible items */
.hideInAem {
  display: none;
}
.aem-AuthorLayer-Edit .hideInAem {
  display: block;
  text-align: center;
  font-size: 30px;
  color: red;
  font-weight: 700;
}
/* AEM visible items */
.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  position: relative;
  padding: 10px 10px 34px;

  border-radius: 10px;
  font-family: 'SamsungSharpSans', arial, sans-serif;
}
.phone-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.voucher {
  background-color: #2189e0;
  color: #fff;
  padding: 8px 12px;
  margin-bottom: 20px;
  border-radius: 18px;
  align-self: flex-start;
}
.card__title {
  font-size: 24px;
  margin-top: -30px;
}
.colors {
  margin: 12px 0;
}
.color__btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #000;
  font-size: 0;
}
.card h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.card__img {
  width: 100%;
}
.color__btn.active {
  border: 5px solid #000;
  outline: 4px solid #fff;
  outline-offset: -4px;
}
.colors__btns {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.card__cta {
  border: 1px solid #000;
  margin-top: 40px;
  padding: 6px 16px;
  border-radius: 24px;
  color: #000;
  font-weight: bold;
  transition: all 0.3s;
}

.card__cta:hover {
  background-color: #000;
  color: #fff;
}
.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deal__icon {
  width: 44px;
  height: auto;
}
.deal img {
  max-width: 160px;
}
.deal__text {
  width: 140px;
  line-height: 1.4;
  text-align: center;
  margin: 24px auto;
  font-weight: bold;
}

@media (min-width: 768px) {
  .deal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (width: 768px) {
  .deal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .cards {
    gap: 130px;
  }
  .card h3 {
    margin-top: 73px;
  }
  .deal-wrapper {
    align-items: flex-start;
  }
  .deals {
    flex-direction: row;
    margin-top: 140px;
  }
  .deal img {
    max-width: 220px;
  }
}
